.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu {
    background-image: url("../img/menu-branco.svg");
}
.container__botao:checked~.container__rotulo {
    background: var(--cor-menu-item);
}

.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}
.container__icone {
    padding: 0.2em;
    margin-right: 0.5em;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60%;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}
.container__botao {
    display: none;
}
.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    
}
.lista-menu__titulo {
    color: var(--cor-menu-titulo);
    font-weight: 700;
}
.lista-menu__link {
    background: var(--cor-menu-item);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}
.opcoes {
    display: none;
}
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, 
    .container__titulo-negrito {
        font-family: var(--fonte-titulo);
        font-size: 30px;
    }
    .container__titulo-negrito {
        font-weight: 700;
    }
    .container__titulo {
        font-weight: 300;
        display: block;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__item {
        padding: 0 1em;
        color: var(--preto);
        text-transform: uppercase;
    }
    .container__icone-transparente {
        display: none;
    }
    .cabecalho__menu {
        display: none;
    }
    .cabecalho {
        padding: 0 2.2em;
    }
    .container__icone {
        margin: 0 1em;
    }
    .opcoes__botao:checked ~.lista-menu{
        display: block;
        width: auto;
    }
    .opcoes__botao {
        display: none;
    }
    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--cor-menu-item);
        color: var(--branco);
    }
    .opcoes__item {
        padding: 2em 1em;
    }
    .lista-menu__item:hover {
        background: var(--cor-menu-item);
    }
    .lista-menu__item:hover >.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
    }
    .opcoes {
        margin-right: auto;
    }
    .container__texto {
        display: block;
    }
}